body {
  background-color: rgb(243, 208, 143);
}
img {
  width: 10vmax;
}
.header {
  background-color: wheat;
  display: flex;
  border-color: rgb(238, 189, 98);
  border-width: 15px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.title {
  font-family: monospace;
  font-size: 2.5vmax;
}
h1 {
  font-family: monospace;
  font-size: 3vh;
}
h2 {
  font-family: monospace;
  font-size: 2.5vh;
}
h3 {
  font-family: monospace;
  font-size: 2vh;
}
p {
  font-family: sans-serif;
  font-size: 2vh;
}
.writing {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  border-color: rgb(238, 189, 98);
  border-width: 8px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.links {
  background-color: wheat;
  border-color: rgb(238, 189, 98);
  border-width: 8px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
